body{
   background:rgb(243, 209, 60) ; 
   /*tipo de fonte do texto*/
    font-family:verdana;
     /*delimitar tamanho da tela*/
    max-width: 1230px;
    margin: auto;
}
.photo {
    border: 1px solid #000;
    border-radius: 10%;
}
.minefoto{
    text-align: center
}


#title {
    color: rgb(145, 53, 6);
    font-size: 40px;
    /*texto todo em letra maicusla no titulo*/
    text-transform: uppercase;
}
a {
    text-decoration: line;
}

.center1{
    text-align: center;
    justify-content: center;
    margin-bottom: 0%;
    font-weight: bold;
}
#subtitle  {    
    color: rgb(0,16,139);
}

.post_title {
    color: rgb(26, 93, 6);
    font-size: 16px;
    font-style: italic;
   /*zerando a margem*/
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    /*Texto alinhado a direita a # */
    text-align: right;
}

.post{
    background:#fff;
    padding:15px;
    /*borda*/
    border: 3px solid #000;
    margin: 10px;
    margin-bottom: 15px;
     /*foto com contorno redondo eixo y e x*/
    border-radius: 60px 80px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: right;
}
post_image {
    margin-bottom:15px;
    width: 100%;
}

