body{
    background-color: rgba(12, 45, 231, 0.712);
}
.center{
    text-align: center;
}
/*Texto com justificado*/
.justify{
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;           /* quebra linha */
    justify-content: center;
    align-items: center;
   
}
/* Deixar a foto com formato rendondo*/
.estilofoto {
    width: 350px;                                                   /*largura da foto */
    height: 350px;                                                  /*altura da foto */
    margin-bottom: 20px;
    border-radius: 30%;                                            /*deixar a foto no formato redondo*/
    box-shadow: 7px 6px 7px #0105ff80, 7px 6px 7px #0631be00; /*sobreado da foto na cor azul*/
}